.message-box-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}
.card{
    width: calc(min(300px,80%));
    height: 300px;
    -webkit-box-shadow: 10px 10px 107px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 107px -29px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 107px -29px rgba(0,0,0,0.75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(48, 48, 48);
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
}
.card-header{
    border-bottom: 1px solid gray;
    font-size: 2rem;
    padding: .5rem;
    font-weight: bold;
    color: rgb(54, 113, 221);
}
.card-footer{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    border-top: 1px solid gray;
    width: 100%;
    padding: .4rem;
    font-size: .8rem;
}
.card-body{
    padding: .5rem;
    color: rgb(111, 111, 111);
    font-size: 1.5rem;
    margin-top: 1rem;
    overflow-y: auto;
    
}
.error{
    color: red !important;
}